.texto{
  color:#555;
  font-size:1em;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.container img {
  width: 320px;
  height: 320px;
}
.box a {

  text-decoration: none;
}

.btn:hover {
  transform: scale(1.08);
  transition: transform 2s linear;


}

.btn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  display: inline-block;
  background-color: rgb(75, 18, 209);
  box-shadow: 5px 5px 0px #000;
  padding: 18px 20px;
  margin-right: 0;
  
};


